.detail {
    text-align                : center;
    background                : #00000091;
    position                  : relative;
    top                       : -68.5px;
    color                     : white;
    padding                   : 10px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius: 5px;


}